/* Google fonts import link (Playfair Display for headings and Quicksand for text) */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Playfair Display", serif;
    --primary-color: #f4f0ec; /* light beige */
    --secondary-color: #463c31;/* earthy brown-grey */
    --highlight-color: #c46d4d; /* burned orange */
    --highlight-color-light: #f3d9cd; /* soft terracotta */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
   font-family: var(--secondary-font); 
   color: var(--secondary-color);
}

/* Navbar */
#navbar {
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Hero section ('home') */
#hero {
position: relative;
background: url(../images/hero_1.webp) no-repeat center center/cover;
width: 100%;
min-height: 50vh;
height: auto;
border: 3px solid var(--highlight-color);
border-radius: 5px;
margin-bottom: 1.5rem;
}

.hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(70, 60, 49, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.hero-overlay h1 {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: white;
  margin: 0;
}

/* Services section ('home')*/
#services-text,
#biography,
#workshop {
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
}

#services-text li,
#biography li {
    list-style: none;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

#services-text li i,
#biography li i {
    margin-right: 0.75rem;
}

/* Prices and testimonials sections ('home') */
#prices, 
#testimonials,
#contact,
#workshop {
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    padding-bottom: 6px;
}

#prices .card-body,
#testimonials .card-body,
#workshop .card-body {
    background-color: var(--primary-color);
}

#prices .card-footer:hover {
    background-color: var(--highlight-color);
}

.card-img-top {
  height: 275px; 
  object-fit: cover; 
  width: 100%;
}

#prices .card,
#testimonials .card,
#workshop .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#prices .card:hover,
#testimonials .card:hover,
#workshop .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Adjusting card footers in testimonials section */
#testimonials .card {
    display: flex;
    flex-direction: column;
}

#testimonials .card-footer {
    margin-top: auto;
    min-height: 5.5rem;
}

/* Footer */
#footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1.5rem 0;
}

/* Exception to the global styles rule (only for footers) */
#footer h2,
#footer p {
    color: var(--primary-color);
}

/* About-me section (top) */

#about-me {
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    padding: 10px;
}

h1 i,
h2 i {
    margin-right: 7px;
}


/* Bootstrap carousel on about-me page */
.carousel-inner img {
  width: 100%;
  height: 400px; 
  object-fit: cover;
  display: block;
}



/* Grid visualisation for testing */

/* .container, 
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
}  */


/* Responsive h1 in hero section for extra-small screens */

@media (max-width: 576px) {
  .hero-overlay h1 {
    font-size: 1.5rem;
  }
}   