/* Google fonts import link (Quicksand for headings and Playfair Display for text) */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Quicksand", serif;
    --secondary-font: "Playfair Display", sans-serif;
    --primary-color: #f4f0ec; /* light beige */
    --secondary-color: #463c31;/* earthy brown-grey */
    --highlight-color: #c46d4d; /* burned orange */
    --highlight-color-light: #f3d9cd; /* soft terracotta */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
   font-family: var(--secondary-font); 
   color: var(--secondary-color);
}

/* Navbar */
#navbar {
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Hero section ('home') */
#hero {
position: relative;
background: url(../images/Hero_1_Pexels.webp) no-repeat center center/cover;
width: 100%;
height: 450px;
min-height: 450px;
border: 3px solid var(--highlight-color);
border-radius: 5px;
margin-bottom: 1.5rem;
}

.hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(70, 60, 49, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.hero-overlay h1 {
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: white;
  margin: 0;
}

/* Services section ('home')*/
#services-text {
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background-color: var(--highlight-color-light);
}

#services-text li {
    list-style: none;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

#services-text li i {
    margin-right: 0.75rem;
}

/* Prices section ('home') */
#prices {
    border: 3px solid var(--highlight-color);
    border-radius: 5px;
    margin-bottom: 1.5rem;
    background-color: var(--highlight-color-light);
}

/* Grid visualisation for testing */

/* .container, 
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
}  */